[user]
	email = 10794178+TheTrio@users.noreply.github.com 
	name = Shashwat
	signingkey = D832A282A5B2D7F0AE4AD2ABC8C0F67B133E6B15
[advice]
	pushNonFastForward = false
[commit]
	gpgSign = true
[init]
	defaultBranch = main
[difftool]
	prompt = false
	trustExitCode = true
[merge]
  tool = code
  conflictstyle = diff3
[mergetool "code-insiders"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    light = false
[diff]
    colorMoved = default
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[push]
	autoSetupRemote = true
[safe]
	directory = /opt/flutter
